
<div class="container" ng-controller="Main">
    <div ng-show="!List" class="alert alert-info">Loading...</div>
    <table ng-show="List" class="table table-striped">
        <thead>
            <tr>
                <th>Specimen ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>DOB</th>
                <th>Status</th>
                <th>Collected Date</th>
                <th>Final Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in List">
                <td><a href="#!/order/{{a.id}}">{{a.specimenId}}</a></td>
                <td>{{a.firstName}}</td>
                <td>{{a.lastName}}</td>
                <td>{{a.birthDate}}</td>
                <td>{{a.status}}</td>
                <td>{{a.collectedDate}}</td>
                <td>{{a.finalDate}}</td>
            </tr>
        </tbody>
    </table>
</div>